<div
  class='h-[1.7rem] text-sm max-md:text-[.7rem] max-md:px-1 font-semibold border-2 border-red-700 rounded-3xl px-2 flex items-center gap-1 bg-red-700 text-white'
>
  <svg
    xmlns='http://www.w3.org/2000/svg'
    width='18'
    height='18'
    viewBox='0 0 24 24'
    fill='none'
    stroke='currentColor'
    stroke-width='2'
    stroke-linecap='round'
    stroke-linejoin='round'
    class='lucide lucide-code-xml'
    ><path d='m18 16 4-4-4-4'></path><path d='m6 8-4 4 4 4'></path><path d='m14.5 4-5 16'
    ></path></svg
  >
  Full-Stack
</div>
