<div
  class='text-sm max-md:text-[.7rem] max-md:px-1 font-semibold border-2 border-black rounded-3xl px-2 flex items-center gap-1 bg-black text-white'
>
  <svg
    fill='none'
    shape-rendering='geometricPrecision'
    stroke='currentColor'
    stroke-linecap='round'
    stroke-linejoin='round'
    stroke-width='1.5'
    viewBox='0 0 24 24'
    height='16'
    width='16'
  >
    <path
      fill-Rule='evenodd'
      clip-Rule='evenodd'
      d='M12 2L2 19.7778H22L12 2Z'
      fill='currentColor'
      stroke='currentColor'
      stroke-Width='1.5'></path>
  </svg>Next JS
</div>
