<div
  class='h-[1.7rem] text-sm max-md:text-[.7rem] max-md:px-1 font-semibold border-2 border-black rounded-3xl px-2 flex items-center gap-1 bg-white text-black'
>
  <span class='tracking-tight hover:cursor-pointer'>
    upload
    <span class='text-red-600'>thing</span>
  </span>
</div>
