---
import Layout from "../layouts/Layout.astro";
---

<Layout title='About Me'>
  <main class='container mx-auto mt-40 h-max px-4'>
    <h1>More about me</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse fuga vero, beatae possimus
      saepe pariatur aliquid aspernatur iure quibusdam ullam similique est eaque animi inventore
      delectus eveniet. Pariatur, sint quis!
    </p>
  </main>
</Layout>
