---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout title='DevRokas Portfolio'>
  <Hero />
  <main>
    <section class='h-[80rem]'>
      <h1>Hello!</h1>
    </section>
  </main>
</Layout>
