---
import SecondaryBtn from '../components/SecondaryBtn.astro';
---

<section id='aboutme' class='relative'>
  <div class='container mx-auto pt-20'>
    <div class='py-32 w-[50%] max-[1600px]:px-8 max-lg:w-[100%]'>
      <h1 class='text-8xl font-semibold border-l-4 pl-4 border-black mb-16 max-md:text-6xl hide'>
        Who am I?
      </h1>
      <p class='text-lg max-md:text-base hide'>
        My name is Rokas and I am a <b>self-taught web developer</b> with about <b
          >2-3 years of hands-on experience</b
        > in creating web applications. My goal in software engineering is not to be a "frameworker"
        that only knows React for example but a true engineer that can solve problems in variety of languages,
        because languages and frameworks are just a tool.
      </p>
      <div class='h-px bg-black w-full my-8'></div>
      <div class='flex items-center gap-8 max-sm:flex-col hide'>
        <ul class='text-lg max-md:text-base list-disc list-inside'>
          <li>Pursuing a Bachelor's degree in Software Engineering.</li>
          <li>
            Completed second semester with a scholarship for outstanding academic performance.
          </li>
        </ul>
        <img src='/VT.png' alt='University logo' loading='lazy' />
      </div>
      <div class='h-px bg-black w-full my-8'></div>
      <h2 class='text-2xl font-semibold pb-3 max-md:text-xl hide'>I specialize in</h2>
      <p class='hide'>
        Creating web applications using tools from <b>React</b> ecosystem. These are the technologies
        I use for most of my projects: <b>React, Next, Tailwind, Node.js, Typescript, Zod, Git.</b> In
        addition, I have exposure in back-end technologies like: <b>ASP.NET</b> and <b>Express.js</b
        >
      </p>
      <div class='hide'>
        <SecondaryBtn />
      </div>
    </div>
  </div>
  <div id='gradient' class='w-full overflow-visible -z-10 h-[40rem] absolute top-0'></div>
</section>

<style>
  #gradient {
    background: linear-gradient(179deg, rgba(169, 241, 76, 0.5) 0%, rgba(248, 242, 242, 1) 100%);
  }

  .hide {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-100%);
    transition: all 800ms;
  }

  .show {
    filter: blur(0);
    transform: translateX(0);
    opacity: 1;
  }

  @media (prefers-reduced-motion) {
    .hide {
      transition: none;
    }
  }
</style>

<script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add('show');
      }
    });
  });

  const hiddenElements = document.querySelectorAll('.hide');
  hiddenElements.forEach((element) => observer.observe(element));
</script>
