<section id='contacts' class='w-full'>
  <div class='container text-white grid grid-cols-2 pt-24 pb-12 items-start mx-auto'>
    <div class='flex flex-col items-center'>
      <h1 class='font-semibold text-8xl pb-12 leading-[.7]'>Let's talk</h1>
      <button
        id='CopyBtn'
        class='flex gap-3 items-center mb-12 font-semibold text-3xl duration-300 hover:bg-white hover:text-black py-1 px-2 hover:rounded-3xl has-tooltip relative'
      >
        <span
          class='tooltip rounded p-1 bg-white text-black text-sm -mt-24 right-1/2 translate-x-1/2'
        >
          <p id='tooltipText'>Copy to clipboard</p>
          <div class='tooltiptail'></div>
        </span>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          width='20'
          height='20'
          viewBox='0 0 24 24'
          fill='none'
          stroke='currentColor'
          stroke-width='3'
          stroke-linecap='round'
          stroke-linejoin='round'
          ><rect width='14' height='14' x='8' y='8' rx='2' ry='2'></rect><path
            d='M4 16c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h10c1.1 0 2 .9 2 2'></path></svg
        >
        webdevrokas@gmail.com
      </button>
      <div class='flex gap-8 text-lg justify-center py-12 text-slate-400'>
        <a
          href='https://github.com/fraxxio/'
          rel='noopener nofollow'
          target='_blank'
          class='flex items-center gap-1 duration-300 hover:text-white hover:-translate-y-0.5'
        >
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='16'
            height='16'
            viewBox='0 0 24 24'
            fill='none'
            stroke='currentColor'
            stroke-width='2'
            stroke-linecap='round'
            stroke-linejoin='round'
            ><path
              d='M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4'
            ></path><path d='M9 18c-4.51 2-5-2-7-2'></path></svg
          > Github</a
        >
        <a
          href='https://www.linkedin.com/in/rokas-leonavi%C4%8Dius-17882a27a/'
          rel='noopener nofollow'
          target='_blank'
          class='flex items-center gap-1 duration-300 hover:text-white hover:-translate-y-0.5'
        >
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='16'
            height='16'
            viewBox='0 0 24 24'
            fill='none'
            stroke='currentColor'
            stroke-width='2'
            stroke-linecap='round'
            stroke-linejoin='round'
            ><path
              d='M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z'
            ></path><rect width='4' height='12' x='2' y='9'></rect><circle cx='4' cy='4' r='2'
            ></circle></svg
          >
          LinkedIn</a
        >
        <a
          href=''
          class='flex items-center gap-1 duration-300 hover:text-white hover:-translate-y-0.5'
        >
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='16'
            height='16'
            viewBox='0 0 24 24'
            fill='none'
            stroke='currentColor'
            stroke-width='2'
            stroke-linecap='round'
            stroke-linejoin='round'
            ><path d='M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4'></path><polyline
              points='7 10 12 15 17 10'></polyline><line x1='12' x2='12' y1='15' y2='3'></line></svg
          >
          Download CV
        </a>
      </div>
    </div>
    <div class='w-[80%]'>
      <form
        action='https://api.web3forms.com/submit'
        method='POST'
        id='form'
        class='needs-validation'
        data-astro-reload
        novalidate
      >
        <input type='hidden' name='access_key' value=`${import.meta.env.ACCESS_KEY}` />

        <input type='checkbox' class='hidden' style='display:none' name='botcheck' />
        <div class='mb-5'>
          <input
            type='text'
            placeholder='Full Name'
            required
            class='w-full px-4 py-3 placeholder:text-slate-400 rounded-md outline-none focus:ring-4 ring-gray-600 bg-opacity-20 bg-gray-600 border border-white border-opacity-20 backdrop-blur-sm duration-300'
            name='name'
          />
        </div>
        <div class='mb-5'>
          <label for='email_address' class='sr-only'>Email Address</label><input
            id='email_address'
            type='email'
            placeholder='Email Address'
            name='email'
            required
            class='w-full px-4 py-3 placeholder:text-slate-400 rounded-md outline-none focus:ring-4 ring-gray-600 bg-opacity-20 bg-gray-600 border border-white border-opacity-20 backdrop-blur-sm duration-300'
          />
        </div>

        <div class='mb-3'>
          <textarea
            name='message'
            required
            placeholder='Your Message'
            class='w-full px-4 py-3 rounded-md placeholder:text-slate-400 outline-none h-36 focus:ring-4 ring-gray-600 bg-opacity-20 bg-gray-600 border border-white border-opacity-20 backdrop-blur-sm duration-300'
          ></textarea>
        </div>
        <button
          type='submit'
          class='p-3 px-4 bg-opacity-30 rounded-md bg-gray-600 border border-white border-opacity-20 duration-300 hover:bg-opacity-80 flex items-center gap-2'
        >
          Send Message
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='16'
            height='16'
            viewBox='0 0 24 24'
            fill='none'
            stroke='currentColor'
            stroke-width='1'
            stroke-linecap='round'
            stroke-linejoin='round'
            ><path d='m3 3 3 9-3 9 19-9Z'></path><path d='M6 12h16'></path></svg
          >
        </button>
        <div id='result' class='mt-3 text-center'></div>
      </form>
    </div>
  </div>
</section>

<script>
  const CopyBtn = document.getElementById("CopyBtn") as HTMLElement;
  const tooltip = document.getElementById("tooltipText") as HTMLElement;

  CopyBtn.addEventListener("click", function () {
    navigator.clipboard.writeText("webdevrokas@gmail.com");
    tooltip.textContent = "Copied";

    setTimeout(() => {
      tooltip.textContent = "Copy to clipboard";
    }, 2000);
  });

  //WebForms \/ \/ \/

  document.addEventListener(
    "DOMContentLoaded",
    () => {
      const form = document.getElementById("form") as HTMLFormElement;
      const result = document.getElementById("result") as HTMLElement;

      form.addEventListener("submit", function (e) {
        e.preventDefault();
        form.classList.add("was-validated");
        if (!form.checkValidity()) {
          const invalidElements = form.querySelectorAll(":invalid");
          if (invalidElements.length > 0) {
            const firstInvalidElement = invalidElements[0] as HTMLElement;
            firstInvalidElement.focus();
          }
          return;
        }
        const formData = new FormData(form);
        const object = Object.fromEntries(formData);
        const json = JSON.stringify(object);

        result.innerHTML = "Sending...";

        fetch("https://api.web3forms.com/submit", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            Accept: "application/json",
          },
          body: json,
        })
          .then(async (response) => {
            let json = await response.json();
            if (response.status == 200) {
              result.classList.add("text-green-500");
              result.innerHTML = json.message;
            } else {
              console.log(response);
              result.classList.add("text-red-500");
              result.innerHTML = json.message;
            }
          })
          .catch((error) => {
            console.log(error);
            result.innerHTML = "Something went wrong!";
          })
          .then(function () {
            form.reset();
            form.classList.remove("was-validated");
            setTimeout(() => {
              result.style.display = "none";
            }, 5000);
          });
      });
    },
    { once: true }
  );
</script>

<style>
  .tooltiptail {
    position: absolute;
    right: 50%;
    border-color: white transparent transparent transparent;
    border-style: solid;
    border-width: 10px;
  }
  #contacts {
    background: radial-gradient(
      circle at 50% 100%,
      rgba(63, 26, 49, 1) 0%,
      rgba(15, 13, 40, 1) 100%
    );
  }
</style>
