<nav
  class='bg-white bg-opacity-15 shadow-md backdrop-blur-md fixed top-3 rounded-3xl z-[100] flex items-center justify-between p-3 px-4 mix-blend-difference border border-white border-opacity-25 container max-[650px]:max-w-[90%]'
>
  <a href='/#home' class='font-semibold text-2xl max-[520px]:text-xl text-white'
    >{`< dev.Rokas />`}</a
  >
  <ul class='flex gap-4 font-semibold text-lg max-[520px]:hidden text-white'>
    <li class='hover:-translate-y-0.5 duration-200'><a href='/#aboutme'>About Me</a></li>
    <li class='hover:-translate-y-0.5 duration-200'><a href='/#projects'>Projects </a></li>
    <li class='hover:-translate-y-0.5 duration-200'><a href='/#contacts'>Contacts</a></li>
  </ul>
  <button class='min-[520px]:hidden cursor-pointer mix-blend-difference fill-white' id='navBtn'>
    <svg
      id='open'
      xmlns='http://www.w3.org/2000/svg'
      width='28'
      height='28'
      viewBox='0 0 28 28'
      fill='none'
      stroke='white'
      stroke-width='2.5'
      stroke-linecap='round'
      stroke-linejoin='round'
    >
      <line x1='3' x2='21' y1='6' y2='6'></line><line x1='3' x2='21' y1='12' y2='12'></line><line
        x1='3'
        x2='21'
        y1='18'
        y2='18'
      >
      </line>
    </svg>
    <svg
      id='close'
      xmlns='http://www.w3.org/2000/svg'
      width='28'
      height='28'
      viewBox='0 0 24 24'
      fill='none'
      stroke='white'
      stroke-width='2'
      stroke-linecap='round'
      stroke-linejoin='round'
      class='hidden'
    >
      <path d='M18 6 6 18'></path>
      <path d='m6 6 12 12'></path>
    </svg>
  </button>
</nav>
<ul
  class='flex gap-4 font-semibold text-lg min-[520px]:hidden fixed flex-col right-[50%] translate-x-[50%] border border-opacity-15 border-white rounded-3xl z-[1] p-4 backdrop-blur-md w-[50%] text-center top-[-11rem] duration-300 mix-blend-difference text-white'
  id='navBar'
>
  <li><a href='/#projects'>Projects</a></li>
  <li><a href='/#aboutme'>About Me</a></li>
  <li><a href='/#contacts'>Contacts</a></li>
</ul>

<script>
  const btn = document.getElementById('navBtn') as HTMLElement;
  const open = document.getElementById('open') as HTMLElement;
  const close = document.getElementById('close') as HTMLElement;
  const NavBar = document.getElementById('navBar') as HTMLElement;
  let isOpen = false;

  btn.addEventListener('click', () => {
    if (isOpen) {
      NavBar.classList.replace('top-[5rem]', 'top-[-11rem]');
      open.classList.remove('hidden');
      close.classList.add('hidden');
      isOpen = false;
    } else {
      NavBar.classList.replace('top-[-11rem]', 'top-[5rem]');
      isOpen = true;
      open.classList.add('hidden');
      close.classList.remove('hidden');
    }
  });
</script>

<style>
  @keyframes fade-down {
    0% {
      opacity: 0;
      transform: translateY(-50px) translateX(-12%);
      right: 0;
    }
    100% {
      opacity: 1;
      transform: translateY(0) translateX(50%);
      right: 50%;
    }
  }
  nav {
    opacity: 0;
    right: 50%;
    transform: translateX(50%);
    position: fixed;
    animation: fade-down 0.5s forwards;
    animation-delay: 400ms;
  }
  @media (prefers-reduced-motion) {
    nav {
      animation: none;
    }
  }
</style>
