<a href='#projects'>
  <button
    class='interactable btn flex text-2xl items-center gap-1 mx-auto py-2 px-4 rounded-3xl mt-12 max-md:text-lg max-md:py-1 max-md:px-2'
  >
    Projects
    <svg
      xmlns='http://www.w3.org/2000/svg'
      class='w-[25px] h-[25px] max-md:w-[20px] max-md:h-[20px]'
      viewBox='0 0 24 24'
      fill='none'
      stroke='currentColor'
      stroke-width='2'
      stroke-linecap='round'
      stroke-linejoin='round'
    >
      <path d='M5 12h14'></path>
      <path d='m12 5 7 7-7 7'></path>
    </svg>
  </button>
</a>

<style>
  .btn {
    color: white;
    overflow: hidden;
    background-color: #000;
    border: 2px solid #000;
    transition: 0.3s ease-in-out;
  }
  .btn:before,
  .btn:after,
  .btn span:before,
  .btn span:after {
    transition: 0.3s ease-in-out;
  }
  .btn {
    position: relative;
    z-index: 2;
    overflow: hidden;
  }
  .btn:hover {
    color: black;
  }
  .btn:hover:before {
    width: 200%;
    height: 200%;
  }
  .btn:before {
    content: " ";
    position: absolute;
    z-index: -1;
    width: 0%;
    height: 0%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: white;
  }
  @keyframes fade-up {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  a {
    opacity: 0; /* Set initial opacity to 0 */
  }

  a {
    animation: fade-up 800ms ease-out forwards;
    animation-delay: 1300ms;
  }

  @media (prefers-reduced-motion) {
    a {
      animation: none;
    }
  }
</style>
