<button
  class='flex items-center gap-4 bg-black py-3 px-12 text-[#f8f2f2] text-lg mx-auto mt-10 rounded-md'
>
  Projects
  <svg
    xmlns='http://www.w3.org/2000/svg'
    width='24'
    height='24'
    viewBox='0 0 24 24'
    fill='none'
    stroke='currentColor'
    stroke-width='2'
    stroke-linecap='round'
    stroke-linejoin='round'
    class='lucide lucide-arrow-right'><path d='M5 12h14'></path><path d='m12 5 7 7-7 7'></path></svg
  >
</button>
