<a href='/about'>
  <button
    class='btn flex font-semibold items-center gap-1 py-2 px-4 rounded-3xl mt-12 max-md:py-1 max-md:px-2'
  >
    Read More
    <svg
      xmlns='http://www.w3.org/2000/svg'
      class='w-[25px] h-[25px] max-md:w-[20px] max-md:h-[20px]'
      viewBox='0 0 24 24'
      fill='none'
      stroke='currentColor'
      stroke-width='2'
      stroke-linecap='round'
      stroke-linejoin='round'
    >
      <path d='M5 12h14'></path>
      <path d='m12 5 7 7-7 7'></path>
    </svg>
  </button>
</a>

<style>
  .btn {
    color: black;
    overflow: hidden;
    background-color: transparent;
    border: 2px solid #000;
    transition: 0.3s ease-in-out;
  }
  .btn:before,
  .btn:after,
  .btn span:before,
  .btn span:after {
    transition: 0.3s ease-in-out;
  }
  .btn {
    position: relative;
    z-index: 80;
    overflow: hidden;
  }
  .btn:hover {
    color: white;
  }
  .btn:hover:before {
    width: 200%;
    height: 200%;
  }
  .btn:before {
    content: " ";
    position: absolute;
    z-index: -1;
    width: 0%;
    height: 0%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #000;
  }
</style>
